/* filtres */
.filtres {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    align-items: center;

    margin-bottom: 50px;
    min-width: 611px;
    flex-wrap: nowrap;
  }

  &__item {
    margin-right: 8px;
  }

  @media screen and (max-width: 767px) {
    &__item {
      margin-bottom: 15px;
    }
  }

  &__item:last-child {
    margin-right: 0px;
  }

  @media screen and (max-width: 767px) {
    &__item:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 768px) {
    &__item:last-child {
      margin-bottom: 0px;
    }
  }

  &__btn {
    color: $text-title-color;
    background-color: $background-team-color;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    border-radius: 4px;
    padding: 6px 22px;
    display: inline-block;
    border: 1px solid transparent;

    align-items: center;
    text-align: center;

    min-width: 73px;
    transition: $transition-time $time-distribution-function;
  }
  &__btn:hover,
  &__btn:focus,
  &__btn:active {
    color: $white-color;
    background-color: $accent-blue-color;
    cursor: pointer;
  }
}
