/* page-header */

.page-header {
  // position: relative;
  background-color: $white-color;
  border-bottom: 1px solid $border-header-color;

  &__container {
    display: flex;
    position: relative;
    justify-content: space-between;
  }
}
// ////////////////////////menu
.menu-container {
  z-index: 1;
  background: $white-color;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    display: none;
    width: 480px;
    height: 453px;

    transition: $time-distribution-function $transition-time;

    &.is-open {
      display: block;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  &__menu-container {
    // display: flex;
    align-items: center;
  }
}
// //////////////////button menu
.menu-button {
  padding: 0;
  margin: 0;

  min-width: 40px;
  max-height: 40px;

  border: none;
  background-color: $white-color;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:hover,
  &:focus,
  &:focus {
    fill: $accent-blue-color;
  }

  &__burger {
    display: block;
    padding: 50px;
  }

  &__close {
    display: none;
  }

  &__is-open.close {
    display: block;
  }

  &__is-open.burger {
    display: none;
  }
}

// .navigation,
// .contacts-top {
//   width: 480px;
//   height: 453px;
// }

// .navigation {
//   outline: 1px solid green;
//   background: rgb(223, 173, 223);
// }

// .contacts-top {
//   outline: 1px solid orangered;
//   // background: rgb(209, 131, 225);
// }

/* justify-content: space-between; */

////////////////////////////////////////////
// .menu-backdrop {
//   position: fixed;
//   z-index: 2;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;

//   background-color: $background-modal-color-overlay;
//   opacity: 1;
//   transition: opacity $transition-time $time-distribution-function;
// }
// .menu-backdrop.is-hidden {
//   opacity: 0;
//   pointer-events: none;
// }

//   @media screen and (min-width: 480px) {
//     width: 480px;
//   }

//   @media screen and (min-width: 768px) {
//     width: 768px;
//   }

//   @media screen and (min-width: 1200px) {
//     width: 1200px;
//   }
// @media screen and (max-width: 767px) {
//   &__container {
//     display: flex;
//     // align-items: center;
//   }
// }

// @media screen and (min-width: 768px) {
//   &__container {
//     display: flex;
//     // justify-content: space-between;
//   }
// }
